.view-container {
    border-radius: 20px;
    max-width:auto;
    padding: 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.logincontainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.nupp {
    display:block;
    margin: 20px auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align:center;
    border-radius: 20px;
}