@{
	ViewData["Title"] = "IndexLogin";
}

@section Styles {
	<link rel="stylesheet" href="~/css/IndexLogin.css"/>
}

<div class="container view-container p-3">
	<div class="row">
		<div class="col-2">Total Views:</div>
		<div class="col-3">
			<span id="totalViewsCounter"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-2">Total Connected Users:</div>
		<div class="col-3">
			<span id="totalUsersCounter"></span>
		</div>
	</div>
</div>
<br />
<br />
<div class="container logincontainer p-3">
	<div class="row">
		<div class="col-6">
			<h5>To continue, please log in.</h5>
		</div>
		<div class="col-6">
			<a class="nav-link text-dark nupp" asp-area="" asp-controller="Accounts" asp-action="Login">Login</a>
		</div>
	</div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>